.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  flex-shrink: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Change to your preferred background */
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column; /* Add this line */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  background-color: #fff;
  padding: 1em; /* Add padding for better spacing */
}

.login-form {
  width: 85%;
  height: 55%;
  max-width: 60em;
  max-height: 26em;
  padding: 2rem;
  margin-left: -10em;
  background: white;
  border-radius: 1em;
  border: black;
  border: 1.8px solid #bcbcbc;
}

.username {
  margin-top: 1em;
}

.password-field {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 16%;
  right: 2.5em;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #666666;
}

.toggle-password span {
  margin-left: 0.5em;
  font-size: 0.9rem;
  color: black;
}

h2 {
  margin-right: 3.5em;
  margin-bottom: 1em;
  font-size: 2.5em;
  color: #242424;
  font-weight: 600;
}

.login-button {
  width: 89%;
  height: 3.4em;
  max-width: 50em;
}

// .forgot-password {
//   margin-top: 0.6em; // Space between the button and the link
//   text-align: center; // Center the link (optional)

//   a {
//     color: #666666;
//     text-decoration: underline; // Underline the link

//     &:hover {
//       text-decoration: none; // Remove underline on hover
//     }
//   }
// }
