.content-display {
  flex: 1;
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;

  .content-moderation-content {
    margin-top: 20px;

    .search-content {
      margin-left: 3em;
      margin-top: -6.4em;
    }
  }
}
