.dashboard-display {
  width: 100%;
  max-width: max-content;
  height: 100vh;
}

.dashboard-content {
  margin-top: 15px;
}

.user-card {
  display: flex;
  margin-top: -20em;
}

.reports-card {
  display: flex;
  flex-direction: column;
  margin-top: -2.1em;
  margin-left: -28.6em;
  width: 26.8em !important;
  height: 17em !important;

  .report-animation {
    width: 15em;
    height: 8em;
    margin-top: 0.2em;
    margin-left: -4.4em;
  }

  .title {
    margin-top: 4.5em !important;
    margin-left: -1em !important;
  }

  .count {
    margin-left: 6em !important;
    margin-top: -1.3em !important;
  }
}

.total-card {
  color: #ede8ff;
  display: flex;
  margin-top: 1.7em;
}
.total-icon {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.4em;
  margin-left: 0.4em;
  color: #551fff; // Default orange color for the user icon
  font-size: 24px;
}

.reports-icon {
  color: #00b7fe;
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.4em;
  margin-left: 0.4em;
  font-size: 24px;
}

.additional-animation {
  margin-top: -32.5em;
  margin-left: 61em;
  width: 28em;
  height: 13.8em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-lottie {
  transform: scale(0.4);
  width: 16em;
  height: 16em;
  position: relative;
  top: -4em;
  left: -3em;
}
