.dashboard-display {
  width: 100%;
  max-width: max-content;
  height: 100vh;
}

.dashboard-content {
  margin-top: 15px;
}

.user-card {
  display: flex;
  margin-top: -20em;
}

.reports-card {
  display: flex;
  margin-top: 1.7em;
}

.total-card {
  color: #ede8ff;
  display: flex;
  margin-top: 1.7em;
}
.total-icon {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.4em;
  margin-left: 0.4em;
  color: #551fff; // Default orange color for the user icon
  font-size: 24px;
}

.reports-icon {
  color: #00b7fe;
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.4em;
  margin-left: 0.4em;
  font-size: 24px;
}
