.message-display {
  flex: 1;
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;

  .message-content {
    margin-top: 20px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 5px 0;
        font-size: 1.1rem;
      }
    }
  }
}
