.price-display {
  flex: 1;
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .price-content {
    margin-top: 20px;
  }

  .setprice-button {
    position: relative;
    top: -2.8em;
    right: -70em;
    z-index: 1;

    .price-button {
      position: sticky;
      padding: 0.5em;
      width: 9em;
      font-weight: 600;
      font-size: 1.2em;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s ease;
      border-radius: 25px;

      &:hover {
        background-color: #c13d33;
      }
    }
  }

  .animation {
    width: auto;
    height: auto;
    margin-left: -1em;
    margin-top: -1em;
  }

  .price-table {
    display: flex;
    flex-direction: row;
    gap: 3em;
    h2 {
      font-size: 1.2em;
      margin-left: 2.8em;
      color: #505668;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }
}
