.content-display {
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;
  overflow-y: auto;

  .content-moderation-content {
    margin-top: 20px;
    padding: 35px;

    h2 {
      font-size: 1.3em;
      margin-left: -0.2em;
      color: #505668;
      margin-top: 2em;
      margin-bottom: 1em;
    }

    .search-content {
      margin-left: 1em;
      margin-top: -8.6em;
    }

    .ant-tabs-nav-list {
      margin-top: 1em;
      border-bottom: none; // Remove the bottom line under the tabs

      .ant-tabs-tab-btn {
        padding: 0px 17px;
        background-color: transparent;
        color: #3a353f;
        font-weight: bold;
        font-size: 1.2em;
        transition: background-color 0.3s ease;
        border: none; // Remove any border on the tab
      }

      .ant-tabs-tab:hover {
        background-color: #ececec;
      }
    }
  }

  .ant-table .ant-table-tbody .status-color-indicator {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-weight: 500;

    &.resolved {
      background-color: #c7f3d0;
      color: #118c2d;
    }

    &.pending {
      background-color: #f6e8bc;
      color: #b68f16;
    }
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .spinner {
    border: 5px solid #e0e0e0;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }

  .confirmation-modal {
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    h3 {
      margin-bottom: 10px;
      font-size: 1.3rem;
      color: #2f3542;
    }

    p {
      font-size: 1rem;
      color: #444;
    }

    .modal-actions {
      margin-top: 20px;
    }

    .confirm-btn {
      background-color: #28a745;
      color: white;
      padding: 10px 20px;
      border: none;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #218838;
      }
    }
  }
}
