.content-display {
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;
  overflow-y: auto;

  .content-moderation-content {
    margin-top: 20px;
    padding: 35px;

    h2 {
      font-size: 1.3em;
      margin-left: -0.2em;
      color: #505668;
      margin-top: 2em;
      margin-bottom: 1em;
    }

    .search-content {
      margin-left: 1em;
      margin-top: -8.6em;
    }

    .ant-tabs-nav-list {
      margin-top: 1em;
      border-bottom: none; // Remove the bottom line under the tabs

      .ant-tabs-tab-btn {
        padding: 0px 17px;
        background-color: transparent;
        color: #3a353f;
        font-weight: bold;
        font-size: 1.2em;
        transition: background-color 0.3s ease;
        border: none; // Remove any border on the tab
      }

      .ant-tabs-tab:hover {
        background-color: #ececec;
      }
    }
  }

  .ant-table .ant-table-tbody .status-color-indicator {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-weight: 500;

    &.resolved {
      background-color: #c7f3d0;
      color: #118c2d;
    }

    &.pending {
      background-color: #f6e8bc;
      color: #b68f16;
    }
  }
}
