.message-display {
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;
  overflow-y: auto;

  .message-content {
    margin-top: 20px;
    padding: 35px;

    .search-message {
      margin-left: 1em;
      margin-top: -8.6em;
    }
  }
}
