.message-display {
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;
  overflow-y: auto;

  .message-content {
    margin-top: -7em;
    padding: 35px;
    margin-left: 2.5em;
  }

  .towns-overview {
    padding: 20px;
  }

  .towns-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2em;
    margin-top: 1.5em;
  }
}
