.user-display {
  flex: 1;
  background-color: white;
  min-height: 100vh;
  max-width: max-content;
  width: 100%;
  overflow-y: auto;

  .user-content {
    margin-top: 20px;

    .search {
      margin-left: 3em;
      margin-top: -6.4em;
    }
  }
}

.table {
  h2 {
    font-size: 1.2em;
    margin-left: 2.5em;
    color: #505668;
    margin-top: 1em;
  }
}
