@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6; /* Adjust line height as needed */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; /* Ensure headings use Montserrat */
}

table {
  font-family: "Montserrat", sans-serif; /* Apply Montserrat font to all tables */
}

.ant-tabs {
  font-family: "Montserrat", sans-serif !important;
}
